{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Atelier{% endblock %}

    {% block body %}
        {% embed "includes/helper.html.twig" %}
            {% block helper_content %}
                Sur cette page, vous êtes invités à renseigner le code atelier communiqué par votre animateur pour accéder à l'atelier. Bonne dégustation !
            {% endblock %}
        {% endembed %}

        {{ form_start(workshopCodeForm) }}
        {{ form_errors(workshopCodeForm) }}
        <h1 class="iv-title iv-title-workshop">INO VIN Dégustation</h1>
        <div class="iv-section">
            <p class="iv-center">Bonjour <span class="iv-name-User">{{ app.user.firstname }}</span>, </p>
            <p class="iv-center">Pour accéder à l’atelier, merci d’entrer le code remis par votre hôte</p>
            <input
                class="iv-form-input input m-auto my-3 iv-form-input-workshop"
                type="text"
                name="{{ field_name(workshopCodeForm.codeWorkshop) }}"
                id="codeWorkshop"
                placeholder="Code de l'atelier">
            <input class="iv-btn iv-btn-workshop m-auto" type="submit" value="Valider">
        </div>
        {{ form_end(workshopCodeForm) }}

        <div class="w-100 pt-5 iv-atelier-img">
            <img class="w-100" src="{{ asset('build/images/atelier.be6c9977.jpg') }}" alt="Atelier">
        </div>
    {% endblock %}
