{% for wine in workshop.wines %}
    <!-- Modal -->
    <div class="modal fade" id="wine{{ wine.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered iv-form-tastingSheet">
            <div class="modal-content iv-background-none w-100">
                <div class="modal-header">
                    {{ form_start(forms[loop.index0], {'attr': {'name': 'form_' ~ loop.index0}}) }}
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ workshop.nameWorkshop }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex w-100 justify-content-lg-around flex-wrap">
                    <div class="iv-form-container container-tastingSheet py-3 my-1">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <ul>
                                    <li>{{ wine.producer }}</li>
                                    <li>{{ form_row(forms[loop.index0].wine, {'value': wine.id}) }} </li>
                                </ul>
                                <h2 class="iv-title mb-4">Visuel</h2>
                                <div>vin : <span class="colorCepage{{ loop.index }}">{{ wine.color }}</span></div>
                            </div>
                            <div class="iv-form-tel-gout d-flex">
                                {{ form_widget(forms[loop.index0].intensity) }}
                            </div>
                            <div class="iv-form-tel-gout">
                                {{ form_widget(forms[loop.index0].clarity) }}
                            </div>
                            <div class="iv-form-tel-gout">
                                <pie-chart data="22;22;22;22;22"></pie-chart>
                                {{ form_widget(forms[loop.index0].color, { 'attr': {'class': 'tasting_sheet_color' ~ loop.index } }) }}

                            </div>
                        </div>
                    </div>
                    <div class="iv-form-container container-tastingSheet py-3 my-1">
                        <h2 class="iv-title mb-4">Nez</h2>
                        <div class="iv-form-tel-gout d-flex flex-wrap justify-content-center">
                            {% for smell in forms[loop.index0].smell %}
                                <label class="iv-container fs-5">
                                    {{ form_widget(smell) }}
                                    {{ smell.vars.label }}
                                    <span class="iv-checkmark"></span>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="iv-form-container container-tastingSheet py-3 my-1">
                        <h2 class="iv-title mb-4">Bouche</h2>
                        <div class="iv-form-tel-gout d-flex flex-wrap justify-content-center">
                            {% for taste in forms[loop.index0].taste %}
                                <label class="iv-container fs-5">
                                    {{ form_widget(taste) }}
                                    {{ taste.vars.label }}
                                    <span class="iv-checkmark"></span>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="iv-btn my-4" type="submit"
                            data-bs-dismiss="modal">{{ button_label|default('Valider') }}</button>
                </div> {{ form_end(forms[loop.index0]) }}
            </div>

        </div>
    </div>
{% endfor %}
