{% extends 'base.html.twig' %}

{% block title %}Dégustation{% endblock %}

{% block body %}
    {% embed "includes/helper.html.twig" %}
        {% block helper_content %}
            Sur cette page, vous êtes invités à remplir ces 4 fiches de dégustations. Vous devrez définir les vins selon des critères olfactifs, gustatifs et visuels avant de les noter.
        {% endblock %}
    {% endembed %}

    <h1 class="iv-title">INO VIN Dégustation</h1>
    <div class="iv-tasting-cards">
        <h2 class="iv-card-sub-title mt-3 fs-3">Atelier : {{ workshop.nameWorkshop }}</h2>

        <section>
            <ul>
                {% for wine in workshop.wines %}
                    <li class="iv-card-li" >
                        <a href="#" data-bs-toggle="modal" data-bs-target="#wine{{ wine.id }}" class="{{ loop.index0 in formsValidated ? "iv-tasting-sheet-disabled" : "" }}">
                            <img src="{{ asset('build/images/inovin-tasting' ~ loop.index ~ '.jpg') }}"
                                 alt="{{ wine.producer }}"
                            class="iv-bg-img iv-box-shadow-taupe" id="js-selected-wine">
                        </a>
                        <h2 class="iv-card-title">{{ wine.cepage.nameCepage }}</h2>
                    </li>

                {% endfor %}
            </ul>

        </section>
        <div class="d-flex justify-content-center">
{#  {{ app.session.get('countValidateForm') }} #}
            {%  if app.session.get('countValidateForm') >=4 %}
                <a href= "{{ path('tasting_sheet_addPercent', {codeWorkshop: workshop.codeWorkshop})}}" class="iv-text-decoration-none"><button type="submit" class="iv-btn">Assemblage</button></a>
            {% endif %}
        </div>
    </div>

    {% include "tasting_sheet/_modalFormTasting.html.twig" %}

<script>
    let wineSelected = document.getElementById('js-selected-wine');
    /*wineSelected.forEach('click', (event)=> {
        console.log(event);
    })*/
    const parent = wineSelected.parentElement
    for (const child of parent.children) {
        console.log(child);
    }
</script>
{% endblock %}





