{% extends 'base.html.twig' %}

{% block title %}Hello TastingSheetController!{% endblock %}

{% block body %}
    <div class="iv-tasting-cards">
        <h1 class="iv-title">{{ workshop.nameWorkshop }}</h1>
        <section>
            <ul>
                {% for wine in workshop.wines %}
                    <li>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#wine{{ wine.id }}">
                            <img src="{{ asset('build/images/inovin-tasting' ~ loop.index ~ '.jpg') }}"
                                 alt="{{ wine.producer }}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        {{ app.session.get('countValidateForm') }}
        {%  if app.session.get('countValidateForm') >=4 %}
        <a href= "{{ path('app_wine_blend_new') }}" class="iv-text-decoration-none"><button type="submit" class="iv-btn">Assemblage</button></a>
        {% endif %}
    </div>
   {% include "tasting_sheet/_modalFormTasting.html.twig" %}

{% endblock %}
{% block javascript %}
{% endblock %}
