{% extends 'base.html.twig' %}

{% block title %}Vote assemblage{% endblock %}
{% block body %}

    <h1 class="iv-title">INO VIN Dégustation</h1>
    <h2 class="iv-sub-title">Je vote pour un assemblage</h2>
<div class="iv-slider-vote">
    <div class="slider">
        <div class="item">
            <img src="{{ asset('build/images/VoteRedWine.jpg')}}" class="d-block w-100 rounded-image"
                 alt="image bouteille">
            <div class="iv-name-voter">Michael bob</div>
            <div class="iv-vote-score">
                <button type="button" class="rounded-button no-border">
                    /10
                </button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter"> Michael bob </div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter"> Michael bob </div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter"> Michael bob </div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter"> Michael bob </div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter">Michael bob</div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter">Michael bob</div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter">Michael bob</div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter">Michael bob</div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter">Michael bob</div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
    </div>
        <button id="next">></button>
        <button id="prev"><</button>
    </div>
    <div class="btn-vote-position">
        <button type="submit" class="iv-btn-vote">Voter</button></div>
    <script >let items = document.querySelectorAll('.slider .item');
        let next = document.getElementById('next');
        let prev = document.getElementById('prev');
        let active = 3;
        function loadShow()
        {
            let i;
            let stt = 0;
            items[active].style.transform = `none`;
            items[active].style.zIndex = 1;
            items[active].style.filter = 'none';
            items[active].style.opacity = 1;
            for (i = active + 1; i < items.length; i++) {
                stt++;
                items[i].style.transform = `translateX(${120 * stt}px) scale(${1 - 0.2 * stt}) perspective(16px) rotateY(-1deg)`;
                items[i].style.zIndex = -stt;
                items[i].style.filter = 'blur(5px)';
                items[i].style.opacity = stt > 2 ? 0 : 0.6;
            }
            stt = 0;
            for (i = active - 1; i >= 0; i--) {
                stt++;
                items[i].style.transform = `translateX(${ - 120 * stt}px) scale(${1 - 0.2 * stt}) perspective(16px) rotateY(1deg)`;
                items[i].style.zIndex = -stt;
                items[i].style.filter = 'blur(5px)';
                items[i].style.opacity = stt > 2 ? 0 : 0.6;
            }
        }
        loadShow();
        next.onclick = function () {
            active = active + 1 < items.length ? active + 1 : active;
            loadShow();
        }
        prev.onclick = function () {
            active = active - 1 >= 0 ? active - 1 : active;
            loadShow();
        }
    </script>
{% endblock %}
