
{% extends 'base.html.twig' %}

{% block title %}Vote assemblage{% endblock %}
{% block body %}
    <div class="iv-body-vote-page">
        <h1 class="iv-title">INO VIN Dégustation</h1>
        <h2 class="iv-sub-title">Je vote pour un assemblage</h2>
        {{ dump(votes) }}

        <div>
            {%  for value in votes %}

                {{ value.wineBlend.nameBlend }}



            {% endfor %}

        </div>
<div>   {{ form_start(voteForm) }}
    {% for value in votes %}
        <div>

            {{ form_widget(voteForm['vote_' ~ value.id], {'label': value.wineBlend.nameBlend }) }}
        </div>
    {% endfor %}
           <button type="submit" class="rounded-button no-border">
            valider
        </button>
        {{ form_end(voteForm) }}
    </div>
    <div class="iv-cards-vote-page">
            <div class="iv-item-vote">
                <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-25 rounded-image"
                     alt="image bouteille">
                <div class="iv-name-voter">Michael bob</div>
                <div class="iv-vote-score">

                </div>
            </div>

        <div class="iv-btn-vote-position">
            <button type="submit" class="iv-btn">Voter</button>
        </div>

    </div>
{% endblock %}
