{% extends 'base.html.twig' %}

{% block title %}Vote assemblage{% endblock %}
{% block body %}

    <h1 class="iv-title">INO VIN Dégustation</h1>
    <h2 class="iv-sub-title">Je vote pour un assemblage</h2>
<div class="iv-slider-vote">
    <div class="slider">
        <div class="item">
            <img src="{{ asset('build/images/VoteRedWine.jpg')}}" class="d-block w-100 rounded-image"
                 alt="image bouteille">
            <div class="iv-name-voter">Michael bob</div>
            <div class="iv-vote-score">
                <button type="button" class="rounded-button no-border">
                    /10
                </button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter"> Michael bob </div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter"> Michael bob </div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter"> Michael bob </div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter"> Michael bob </div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter">Michael bob</div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter">Michael bob</div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter">Michael bob</div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter">Michael bob</div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image" alt="image bouteille">
            <div class="iv-name-voter">Michael bob</div>
            <div class="iv-vote-score">
                <button type="submit" class="rounded-button no-border">/10</button>
            </div>
        </div>
    </div>
        <button id="next">></button>
        <button id="prev"><</button>
    </div>
    <div class="btn-vote-position">
        <button type="submit" class="iv-btn-vote">Voter</button></div>
{% endblock %}
