
{% extends 'base.html.twig' %}

{% block title %}Vote assemblage{% endblock %}
{% block body %}
    <div class="iv-body-vote-page">
        <h1 class="iv-title">INO VIN Dégustation</h1>
        <h2 class="iv-sub-title">Je vote pour un assemblage</h2>

        <div class="iv-cards-vote-page">
            <div class="iv-item-vote">
                <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image"
                     alt="image bouteille">
                <div class="iv-name-voter">Michael bob</div>
                <div class="iv-vote-score">
                    <button type="button" class="rounded-button no-border">
                        /10
                    </button>
                </div>
            </div>
            <div class="iv-item-vote">
                <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image"
                     alt="image bouteille">
                <div class="iv-name-voter"> Michael bob</div>
                <div class="iv-vote-score">
                    <button type="submit" class="rounded-button no-border">/10</button>
                </div>
            </div>
            <div class="iv-item-vote">
                <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image"
                     alt="image bouteille">
                <div class="iv-name-voter"> Michael bob</div>
                <div class="iv-vote-score">
                    <button type="submit" class="rounded-button no-border">/10</button>
                </div>
            </div>
            <div class="iv-item-vote">
                <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image"
                     alt="image bouteille">
                <div class="iv-name-voter"> Michael bob</div>
                <div class="iv-vote-score">
                    <button type="submit" class="rounded-button no-border">/10</button>
                </div>
            </div>
            <div class="iv-item-vote">
                <img src="{{ asset('build/images/VoteRedWine.jpg') }}" class="d-block w-100 rounded-image"
                     alt="image bouteille">
                <div class="iv-name-voter"> Michael bob</div>
                <div class="iv-vote-score">
                    <button type="submit" class="rounded-button no-border">/10</button>
                </div>
            </div>
            <div class="iv-item-vote">
                <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image"
                     alt="image bouteille">
                <div class="iv-name-voter">Michael bob</div>
                <div class="iv-vote-score">
                    <button type="submit" class="rounded-button no-border">/10</button>
                </div>
            </div>
            <div class="iv-item-vote">
                <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image"
                     alt="image bouteille">
                <div class="iv-name-voter">Michael bob</div>
                <div class="iv-vote-score">
                    <button type="submit" class="rounded-button no-border">/10</button>
                </div>
            </div>
            <div class="iv-item-vote">
                <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image"
                     alt="image bouteille">
                <div class="iv-name-voter">Michael bob</div>
                <div class="iv-vote-score">
                    <button type="submit" class="rounded-button no-border">/10</button>
                </div>
            </div>
            <div class="iv-item-vote">
                <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image"
                     alt="image bouteille">
                <div class="iv-name-voter">Michael bob</div>
                <div class="iv-vote-score">
                    <button type="submit" class="rounded-button no-border">/10</button>
                </div>
            </div>
            <div class="iv-item-vote">
                <img src="{{ asset('build/images/VoteWhiteWine.jpg') }}" class="d-block w-100 rounded-image"
                     alt="image bouteille">
                <div class="iv-name-voter">Michael bob</div>
                <div class="iv-vote-score">
                    <button type="submit" class="rounded-button no-border">/10</button>
                </div>
            </div>
        </div>
        <div class="iv-btn-vote-position">
            <button type="submit" class="iv-btn">Voter</button>
        </div>
    </div>
{% endblock %}
