{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Inscription{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}

    <h1 class="iv-title">INO VIN Dégustation</h1>
    <div class="iv-form-container-register align-items-center">
        <div class="iv-form-container py-3 my-1" id="iv-form-container-register">
            <div class="iv-form-container-inputs">
                <h2 class="iv-sub-title">Inscription</h2>
                <div class="row">
                    <div class="col">
                        <input
                            name="{{ field_name(registrationForm.lastname) }}"
                            type="text" class="form-control iv-form-input" placeholder="Nom">
                    <div class="iv-form-error">
                        {{ form_errors(registrationForm.lastname) }}
                    </div>
                    </div>
                    <div class="iv-hidden-mediascreen">
                    </div>
                    <div class="col">
                        <input
                            name="{{ field_name(registrationForm.firstname) }}"
                            type="text" class="form-control iv-form-input" placeholder="Prénom">
                    <div class="iv-form-error">
                    {{ form_errors(registrationForm.firstname) }}
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input
                            name="{{ field_name(registrationForm.email) }}"
                            type="text" class="form-control iv-form-input" placeholder="Email">
                        <div class="iv-form-error">
                    {{ form_errors(registrationForm.email) }}
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input
                            name="{{ field_name(registrationForm.birthday) }}"
                            type="date" class="form-control iv-form-input">
                    <div class="iv-form-error">
                    {{ form_errors(registrationForm.birthday) }}
                    </div>
                    </div>
                    <div class="iv-hidden-mediascreen">
                    </div>
                    <div class="col">
                        <input
                            name="{{ field_name(registrationForm.zipcode) }} }}"
                            type="text" class="form-control iv-form-input" placeholder="Code postal">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input
                            name="{{ field_name(registrationForm.phoneNumber) }}"
                            type="text" class="form-control iv-form-input" placeholder="Téléphone">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input
                            name="{{ field_name(registrationForm.password.first) }}"
                            type="password" class="form-control iv-form-input" placeholder="Mot de passe">
                    <div class="iv-form-error">
                    {{ form_errors(registrationForm.password.first) }}
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input
                            name="{{ field_name(registrationForm.password.second) }}"
                            type="password" class="form-control iv-form-input" placeholder="Confirmer le mot de passe">
                        <div class="iv-form-error">
                        {{ form_errors(registrationForm.password.second) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mx-auto">
                        <label class="iv-container fs-5 iv-s-text-mediascreen" style="width: initial">J'accepte les
                            conditions
                            d'utilisation
                            <input
                                name="{{ field_name(registrationForm.agreeTerms) }}"
                                type="checkbox">
                            <span class="iv-checkmark"></span>
                        </label>
                    </div>
                </div>
                <input class="iv-btn" type="submit" value="S'inscrire">
            </div>
        </div>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}
