{% extends 'base.html.twig' %}

{% block title %}WineBlend index{% endblock %}

{% block body %}
    <h1>WineBlend index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameBlend</th>
                <th>ScoreWineblend</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wine_blend in wine_blends %}
            <tr>
                <td>{{ wine_blend.id }}</td>
                <td>{{ wine_blend.nameBlend }}</td>
                <td>{{ wine_blend.scoreWineblend }}</td>
                <td>{{ wine_blend.createdAt ? wine_blend.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ wine_blend.updatedAt ? wine_blend.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_wine_blend_show', {'id': wine_blend.id}) }}">show</a>
                    <a href="{{ path('app_wine_blend_edit', {'id': wine_blend.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('app_wine_blend_new') }}">Create new</a>#}
{% endblock %}
