<a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    <img class="iv-burger iv-zoom" src="{{ asset('build/images/logoinovin.f33bd3fc.png') }}" alt="Logo Link to menu">
</a>

<div class="offcanvas offcanvas-start pb-0 iv-nav-width" tabindex="-1" id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">

    <div class="offcanvas-header iv-nav-bg iv-nav-width">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" ></button>
    </div>

    <div class="offcanvas-body iv-nav-bg iv-center mt-0 iv-nav-width">

        <img class="iv-burger m-0" src="{{ asset('build/images/logoinovin.f33bd3fc.png') }}" alt="Logo Link to menu">

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}" class="iv-link-navbar"><h2 class="iv-dk-grey mt-5">Accès Admin</h2></a>
        {% endif %}

        <a href="{{ path('app_atelier') }}" class="iv-color iv-link-navbar"><h2 class="iv-color mt-5">Accès atelier</h2></a>

        <a href="{{ path('tasting_sheet_show',{id: app.user.id}) }}"> <h2 class="iv-color mt-5" style="cursor: pointer" id="click-degustation">Mes dégustations</h2></a>


        <h2 class="iv-color mt-5" style="cursor: pointer" id="click-assemblage">Mes assemblages</h2>
        <div class="iv-nav-assemblages">
            <p class="iv-color">Petit BBQ entre amis - juin 2023</p>
            <p class="iv-color">La Camargue ca vous gagne - mai 2022</p>
            <p class="iv-color">Lozère et bien plus - juillet 2021</p>
            <p class="iv-color">Le plus bel atelier de ma vie - décembre 2021</p>
        </div>

        <div class="accordion mt-4" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button text-center iv-color fs-24" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Mon profil
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse data-bs-parent" id="accordionExample">
                    <div class="accordion-body">
                        <a href="{{ path('app_user_edit', {id: app.user.id})}}" class="iv-link-navbar"><p class="iv-color">Mon profil</p></a>
                        <a href="{{ path('gout_show')}}" class="iv-link-navbar"><p class="iv-color">Mes goûts</p></a>
                    </div>
                </div>
            </div>
        </div>
        <a href="/logout" class="iv-link-navbar"><h2 class="mt-5 dark-grey">Me déconnecter</h2></a>
        <p class="m-0 dark-grey">Mentions Légales</p>
        <p class="m-0 dark-grey">Politique de confidentialité</p>

    </div>

</div>

