{% extends 'base.html.twig' %}

{% block body %}
    {% embed "includes/helper.html.twig" %}
        {% block helper_content %}
            Sur cette page, vous êtes invités à vous connecter si vous posséder un compte. Sinon cliquez sur "Inscrivez-vous" !
        {% endblock %}
    {% endembed %}

    <h1 class="iv-title">INO VIN Dégustation</h1>
    <div class="iv-form-container-login">
        <div class="d-flex justify-content-center iv-margin-top-322">
            <div class="py-3 my-3 iv-form-container" id="iv-form-container-register">
                <div class="iv-form-container-inputs">

                    <form class="mx-auto" style="max-width: 600px" action="{{ path('app_login') }}"
                          method="post">
                        <h2 class="iv-sub-title">Connexion</h2>

                        <div class="iv-322">
                            <input type="text" id="username" name="_username" value="{{ last_username }}"
                                   class="form-control iv-form-input"
                                   placeholder="Mail" required/>
                            <label class="form-label" for="username"></label>
                        </div>

                        <div class="iv-322">
                            <input type="password" id="password" name="_password" class="form-control iv-form-input"
                                   placeholder="Mot de passe" required/>
                            <label class="form-label" for="password"></label>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="/gout/show">
                        <button type="submit" class="iv-btn">Valider</button>
                </div>
            </div>
        </div>



      {#  <div class="form-outline mb-4 col-10 col-sm-8 mx-auto iv-form-input d-flex justify-content-center mt-5">
            <input type="password" id="password" name="_password" class="form-control h-100"
                   placeholder="Mot de passe"/>
            <label class="form-label" for="password"></label>
        </div>#}

      {#  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="iv-btn-login mx-auto">Valider</button>
        <br>
#}
    </form>
    <div class="text-center ">
        <p class="$iv-main-darkgrey" >Première fois ? <a  href="{{ path('app_register') }}" class="iv-color">Inscrivez-vous !</a></p>
        <p class="$iv-main-darkgrey"><a class="iv-color" href="{{ path('app_forgot_password_request') }}"> J’ai oublié mon mot de passe !</a></p>


        </div>
    </div>
{% endblock %}
